.paneImage{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.paneContainer:hover{
    cursor: pointer;
}

.firstLinePane{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}




.location{
    display: flex;
    gap: 10px;
}
