.paneImage{
    width: 90%;
    height: 200px;
    border-radius: 10px;
}


.firstLinePane{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-weight: bolder;
}




.location{
    display: flex;
    gap: 10px;
}

.locationName{
    font-size: 40px;
    font-weight: bolder;
    color: rgb(238, 46, 46);
}

.manageButtonsDiv{
    justify-content: space-between;
    margin-top: 5px;
}
.manageButtons{
    margin-top: .25em;
    width: 40%;
    border-radius: 8px;
    background-color: rgb(238, 46, 46);
    color: white;
}
.manageButtons:hover{
    cursor: pointer;
}

.paneImage:hover{
    cursor: pointer;
}
