.yesButton{
    background-color: rgb(238, 46, 46);
}

.noButton{
    background-color: gray;
}
.yesButton:hover{
    cursor: pointer;
}
.noButton:hover{
    cursor: pointer;
}



.deleteLocationModal{
    position: fixed;
    z-index: 1;
    left: calc(50% - 200px);
    top: calc(50% - 115px);
    width: 400px;
    height: 230px;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(196 194 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.areSure{
    margin-left: 1em;
}
