.yesButton{
    background-color: #FF5A5F;
}

.noButton{
    background-color: gray;
}

.deleteReviewModal{
    position: fixed;
    z-index: 1;
    left: calc(50% - 200px);
    top: calc(50% - 115px);
    width: 400px;
    height: 230px;
    overflow: auto;
    border-radius: 10px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
