

.deleteReviewButton{
    margin-left: 3em;
    margin-top: 1em;
}


.descriptionTag{
    font-size: 18px;
}


.paneContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 3px 1px 1px 1px; */
    border: 2px solid gray;
    border-radius: 20px;
    font-family: sans-serif;

}
.mainPreview{
    height: 200px;
    width: 300px;
}

.locationDiv{
display: flex;
}

.outerCont{
    padding-top: 6em;
    padding-bottom: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15%;
    padding-right: 15%;
    gap: 3em;
}

.reviewSide{
    border: 2px solid gray;
    border-radius: 20px;
}
.reviewCont{
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name{
    font-size: 24px;
}
.date{
    font-size: 16px;
}
.review{
    font-size: 16px;
}

.ratingPTag{
    margin-left: 3em;
}

.deleteReviewButton{
    border-radius: 8px;
    background-color: rgb(238, 46, 46);
    color: white;
}

.deleteReviewButton:hover{
    cursor: pointer;
}
.postReviewButton{
    border-radius: 8px;
    background-color: rgb(238, 46, 46);
    color: white;
    margin-left: 25%;
    margin-bottom: 20px;
}

.postReviewButton:hover{
    cursor: pointer;
}

