.profButton:hover{
    cursor: pointer;
}

.logoutButton{
    margin-top: 2px;
    border-radius: 8px;
    background-color: rgb(238, 46, 46);
    color: white;
}

.logoutButton:hover{
    cursor: pointer;
}
li{
    list-style: none;
}

