.loginModal{
    position: fixed;
    z-index: 1;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 300px;
    height: 300px;
    overflow: auto;
    border-radius: 10px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.loginButton{
    width: 220px;
    height: 50px;
    box-shadow: 2px 2px;
    background-color: #FF5A5F;
}
.loginButton[disabled]{
    background-color: lightgray;
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
